.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{ role: "presentation" }
          = link_to 'Popular PROTO', popular_index_path
        %li{ role: "presentation" }
          = link_to 'Newest PROTO', newest_index_path
      = link_to 'View Tags', tags_path, class: "btn btn-default col-lg-1"

.container.proto-list
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  %ul.pagination
    %li.disabled
      = link_to '#' do
        %span{ aria: { hidden: 'true' }} «
    %li.active
      = link_to '1', '#'
    %li
      = link_to '2', '#'
    %li
      = link_to '3', '#'
    %li
      = link_to '4', '#'
    %li
      = link_to '5', '#'
    %li
      %a{ area: { label: 'Next' }, href: '#' }
        %span{ aria: { hidden: 'true' }} »




