.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(current_user.avatar, alt: '64x64', size: "64x64", class: 'media-object' ), user_path(current_user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.nickname}", user_path
            %span.degree
              = @user.member
            %span
              = @user.work

    .col-md-6.text-right
      %button.btn.btn-default
        = image_tag("icon_heart.svg")
        Like
        %span.num 20
  .row
    .col-md-9
      = image_tag(@prototype.thumbnails.first.image_url, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototypes.each do |prototype|
          = link_to prototype_path(prototype), class: 'sub_images' do
            %li.list-group-item
              = image_tag(prototype.image_url, class: 'img-responsive') if prototype.image_url.present?

  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catchcopy

    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{ href: "#", class: "btn btn-default" } iPad
        %li
          %a{ href: "#", class: "btn btn-default" } wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (10)
    .col-md-8
      = render partial: 'prototypes/comment', collection: @comments

      %form.form-inline{ role: "form" }
      - if user_signed_in?
        = form_for [@prototype, @comment], remote: true do |f|
          = f.hidden_field :user_id, value: current_user.id
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, requiere: true, placeholder: "Your comments", rows: "3", cols: "60", id: "comment_content", class: "form-control"
            .form-group.col-md-2
              = f.submit "COMMENT", class: "button btn btn-primary"







