- if user_signed_in?
  - if prototype.like_user(current_user.id)#ユーザーによってすでにいいねされているときdelete
    = button_to prototype_like_path(id: like.id, prototype_id: prototype.id), method: :delete, class: "btn btn-default", remote: true do
      = image_tag("icon_heart_red.svg")
      LIKE
      %span.num
        = @prototype.likes_count
  - else  #ユーザーによってまだいいねされていないボタンのときは新たにいいねを追加
    = button_to prototype_likes_path(prototype), class: "btn btn-default", id: "like-buttons", remote: true do
      = image_tag("icon_heart.svg")
      LIKE
      %span.num
        = @prototype.likes_count
- else
  = image_tag("icon_heart.svg") #ユーザーがサインインしていない時
  LIKE
  %span.num
    = @prototype.likes_count
