.container.user-new
  = form_for current_user do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Edit Profile
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :nickname, placeholder: 'Username', class: ''
            .user-image.col-md-2{ style: 'background-image: url#{current_user.avatar};'}
              = f.button 'Change image', class: 'btn btn-primary'
              = f.file_field :avatar, class: 'form_control_file'
          = f.email_field :email, placeholder: "E-Mail", class: 'form_control'
          = f.password_field :password, placeholder: 'password', class: 'input user-password'
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_field :member, placeholder: "Member", class: 'form_control'
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :profile, placeholder: "Profile", cols: "30", rows: "4"

          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.text_area :work, placeholder: "Works", cols: "30", rows: "4"

      .row.text-center.user-btn
        = f.submit 'Save', class: 'btn btn-lg btn-primary btn-block'
