.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to "#{ @user.nickname }"
        %img.media_object{ alt: "64x64", data_holder_rendered: "true", data_src: "holder.js/64x64", style: "width: 64px; height: 64px;", src: @user.avatar }/

      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            29
            %i Projects
        .proto-user
          %span.degree #{ @user.member }
        .row
          .col-md-6
            %h4 Profile
            %p #{ @user.profile }
          .col-md-6
            %h4 Works
            %p #{ @user.work }


  %div
    = render @prototypes


.text-center
  %ul.pagination
    = paginate (@prototypes)
